/* ======NORMALIZE========= */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
#root,
#__next {
  isolation: isolate;
}
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
dialog,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
  outline: none;
  border: none;
}
button,
select {
  text-transform: none;
}
legend {
  padding: 0;
}

/* =====FONTS===================== */
@font-face {
  font-family: "Tomorrow-Thin";
  src: url("./fonts/tomorrow/Tomorrow-Thin.woff2");
}
@font-face {
  font-family: "Tomorrow-Light";
  src: url("./fonts/tomorrow/Tomorrow-Light.woff2");
}
@font-face {
  font-family: "Tomorrow-Regular";
  src: url("./fonts/tomorrow/Tomorrow-Regular.woff2");
}
@font-face {
  font-family: "Tomorrow-Medium";
  src: url("./fonts/tomorrow/Tomorrow-Medium.woff2");
}
@font-face {
  font-family: "Tomorrow-Bold";
  src: url("./fonts/tomorrow/Tomorrow-Bold.woff2");
}
/* -----------REM---------------- */
html {
  font-size: 16px;
}

/* ============COLORs========== */
:root {
  --brightest: #e5feff; /* 20% */
  --darkest: #10313c;
  --bluish-1: #7da1a3;
  --bluish-2: hsla(182, 24%, 59%, 0.31) /*31%*/;
  --bluish-3: #53797b;
  --bluish-4: #1e8f94;
  --bluish-5: #00edfc;
  --bluish-6: #7bd0d4;
  --reddish: #ff0100;
  --cell-1: #caf2f4;
  --cell-2: #a0e1e4;
  --cell-3: #d8f8f9;
  --cell-4: #c4f0f1;

  --blur: blur(2px);
}
/* ========STYLING=================STYLING============== */

.button {
  user-select: none;
  cursor: pointer;
}
.push-button:hover {
  scale: 1.1;
}
.push-button:active {
  scale: 0.9;
}
.hidden {
  display: none;
}
/* ---------BACKGROUND---------------------- */
body {
  background-color: var(--darkest);
  background-image: url("../assets/images/proper_tile.webp");
  background-size: 150px 150px;
  background-repeat: repeat;
}
/* ------------MAIN SCAFFOLDING------------------*/
#wrapper {
  /* background-color: orange; */
  width: 1780px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 1.5rem;
}
#content {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 1.5rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: start;
}
#logo {
  position: relative;
  left: 3.5rem;
  width: 17.5rem;
  height: auto;
}
/* ----------------CALENDAR---------------- */
#calendar {
  /* background-color: rgb(118, 255, 129); */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55rem;
  height: 40rem;
}
#calendar-inner {
  /* background-color: goldenrod; */
  width: 100%;
  height: 90%;
  display: flex;
}
#calendar-blur {
  background-color: var(--bluish-2);
  backdrop-filter: var(--blur);
  width: 100%;
  height: 100%;
  padding: 1rem;
}
#calendar-bckg {
  background-color: var(--brightest);
  height: 100%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  column-gap: 1rem;
  grid-template-areas:
    "month-year month-year month-year month-year month-year"
    "week-day-1 week-day-2 week-day-3 week-day-4 week-day-5";
}

#calendar-bckg > .week-day {
  background-color: var(--cell-1);
}
#calendar-bckg .week-day:nth-child(2n) {
  background-color: var(--cell-2);
}
#calendar-bckg .week-day .date-list .date-item:nth-child(2n) {
  background-color: var(--cell-3);
}
#calendar-bckg .week-day:nth-child(2n) .date-list .date-item:nth-child(2n) {
  background-color: var(--cell-4);
}

.date-list {
  overflow-y: scroll;
}

.date-header,
.week-day {
  font-family: "Tomorrow-Regular", "Courier New", sans-serif;
  font-size: 2.25rem;
  text-align: center;
  color: var(--bluish-6);
}
.date-item:first-child {
  border-bottom: 0.2rem solid var(--brightest);
}
#year-header {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  grid-area: month-year;
  justify-self: center;
  background-color: var(--brightest);
}
#month {
  margin-right: 1rem;
}
#monday {
  grid-area: 1fr;
  text-align: center;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#day-3 {
  border: 2px solid var(--reddish);
}
/* -----------------COUNT BUTTON------------------- */
#count-button {
  width: 8rem;
  height: 8rem;
  background-color: transparent;

  border-top: 4rem solid hsla(0, 100%, 50%, 0.7);
  border-right: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-left: 4rem solid hsla(0, 100%, 50%, 0.7);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
#count-button-number {
  position: absolute;
  top: -3rem;
  left: -2.5rem;
  font-family: "Tomorrow-Bold", "Courier New", sans-serif;
  font-size: 2.5rem;
  color: var(--brightest);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

/* -------SCROLL BUTTONS------------------------- */
.scroll-button {
  width: 2.5rem;
  height: 10.75rem;
}

#scroll-left {
  margin: auto 1rem auto 0;
  background-color: transparent;
  height: 10.75rem;
  border-top: 5.375rem solid transparent;
  border-left: 0rem solid transparent;
  border-bottom: 5.375rem solid transparent;
  border-right: 2.5rem solid var(--bluish-2);
}
#scroll-left:hover {
  border-right: 2.5rem solid var(--bluish-6);
}
.scroll-button:active {
  scale: 0.8;
}

#scroll-right {
  margin: auto 0 auto 1rem;
  background-color: transparent;
  height: 10.75rem;
  border-top: 5.375rem solid transparent;
  border-right: 0rem solid transparent;
  border-bottom: 5.375rem solid transparent;
  border-left: 2.5rem solid var(--bluish-2);
}
#scroll-right:hover {
  border-left: 2.5rem solid var(--bluish-6);
}

/* --------------DATE INPUT---------------------- */
#calendar-date-form {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 1rem;
}

.custom-go-button {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--reddish);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  box-shadow: 0rem 0rem 0rem 0.3rem var(--darkest);
}
#go-date-button:hover {
  background-color: var(--reddish);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  #go-text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
  }
}
#go-date-button:active {
  scale: 80%;
}
#go-date-button {
  position: relative;
  top: 0.55rem;
  left: -1.2rem;
}
#go-text {
  font-family: "Tomorrow-Medium", "Courier New", sans-serif;
  font-size: 1.3rem;
  color: var(--brightest);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.date-input {
  font-family: "Tomorrow-Regular", "Courier New", sans-serif;
  color: var(--bluish-3);
  font-size: 1.5rem;
  position: absolute;
  top: 0.6rem;
  right: 23.6rem;
  background: none;
}
.date-input:hover {
  box-shadow: inset 0 2px 4px var(--bluish-1);
  cursor: text;
}

#custom-date-input {
  width: 15rem;
}
/* ================TASK MANAGER========================= */
#tasks {
  /* background-color: violet; */
  top: 5rem;
  width: 55rem;
  height: 39.7rem;
}
#task-manager-blur {
  background-color: var(--bluish-2);
  backdrop-filter: var(--blur);
  width: 100%;
  height: 100%;
  padding: 1rem;
}
#task-manager-inner {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: repeat(auto-fit, minmax(4.5rem, 1fr));
  width: 100%;
  height: 100%;
}
/* -------------PROJECT PANEL------------------ */
#project-panel {
  height: 100%;
}

#project-panel-header {
  background-color: var(--bluish-4);
}
h3 {
  font-family: "Tomorrow-Regular", "Courier New", sans-serif;
  font-size: 1.6rem;
  color: var(--brightest);
}
.plus-text {
  font-family: "Tomorrow-Medium", "Courier New", sans-serif;
  color: var(--brightest);
  font-size: 1.7rem;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.plus-button {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--reddish);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  box-shadow: 0rem 0rem 0rem 0.2rem var(--darkest);
}
.plus-button:hover {
  background-color: var(--reddish);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  .plus-text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
  }
}
.plus-button:active {
  scale: 0.8;
}
.project-panel-header-cell {
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#project-panel-inner-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#add-project-query {
  /* display:none; */
  position: absolute;
  top: 4.2rem;

  left: 7.75rem;
  width: 5rem;
}
#project-list {
  height: calc(100% - 3.5rem);
  overflow: scroll;
}

.project-list-cell {
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.project-cell-name-container {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-list {
  width: 100%;
  height: 100%;
}

.drop-arrow {
  min-width: 2rem;
  height: 1.4rem;
  background-image: url("../assets/images/drop_down_arrow.webp");
  background-size: cover;
}

@keyframes shake {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(0.15rem);
  }
}
.drop-arrow:hover {
  animation: 0.2s linear 0s infinite alternate shake;
}
.drop-arrow:active {
  animation-play-state: paused;
  rotate: 180deg;
}

.drop-down-content {
  visibility: hidden;
  position: absolute;
  left: 7.75rem;
  width: 5rem;
  transform: translateY(0);
}

.drop-down-content.visible {
  visibility: visible;
  position: absolute;
  left: 7.75rem;
  width: 5rem;
  transform: translateY(3rem);
}

.drop-down-item,
.drop-down-item:active {
  background-color: var(--cell-3);
}
.drop-down-item:nth-child(2n) {
  background-color: var(--cell-1);
}
.drop-down-item:nth-child(2n):active {
  background-color: var(--darkest);
}
.drop-down-item:hover {
  background-color: var(--darkest);
  color: var(--brightest);
}

.drop-down-item,
.drop-down-item:active {
  padding: 0.2rem;
  color: var(--bluish-6);
}

.project-cell-name {
  font-family: "Tomorrow-Regular", "Courier New", sans-serif;
  color: var(--brightest);
  width: 7.35rem;
  height: 1.5rem;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.project-tab {
  background-color: hsla(183, 19%, 40%, 0.31);
}
.project-tab:hover {
  background-color: var(--bluish-2);
}
.project-tab:active {
  background-color: transparent;
}
.active-tab {
  background-color: transparent;
}
/* --------------------PROGRESS BAR----------------- */
.progress-bar-main-container {
  width: 100%;
  height: 0.5rem;
  border: 0.0625rem dashed var(--brightest);

  /* background-color: yellowgreen; */
}
.progress-bar {
  width: 10%;
  height: 100%;
  background-color: var(--reddish);
}

/* -------------TASKS PANEL-------------------- */
#tasks-main-panel {
  /* background-color: lightskyblue; */
  grid-column: 2/2;
  padding: 0 1rem;
}
#tasks-header {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#sort-drop {
  position: relative;
  right: 3.8rem;
}
#task-list {
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 92%;
  overflow-y: scroll;
}
/* --------------NEW TASK FORM----------- */
.new-task-container.hidden {
  visibility: hidden;
  height: 18rem;
  width: 17.5rem;
  position: absolute;
  top: 4.5rem;
  left: 15.25rem;
  background-color: var(--bluish-2);
  backdrop-filter: var(--blur);
  padding: 1rem;
  border: none;
}
.new-task-container {
  z-index: 2;
  visibility: visible;
  height: 18rem;
  width: 17.5rem;
  position: absolute;
  top: 4.5rem;
  left: 15.25rem;
  background-color: var(--bluish-2);
  backdrop-filter: var(--blur);
  padding: 1rem;
  border: none;
}

#new-task-form {
  width: 100%;
  height: 100%;
}
#new-task-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
#new-task-list > li {
  background-color: var(--cell-1);
  color: var(--bluish-3);
  font-family: "Tomorrow-Regular", "Courier New", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
#new-task-list > li:nth-child(2n) {
  background-color: var(--cell-2);
}
#new-task-title input {
  text-align: center;
  text-overflow: scroll;

  color: var(--bluish-3);
}

#new-task-date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.date-range-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem;
}
.date-range-container > label {
  color: var(--bluish-3);
}
.new-task-date-input {
  position: relative;
  top: 0;
  right: 0;
  font-size: 1rem;
}

.drop-down-item {
  width: 100%;
  text-align: center;
  overflow-x: scroll;
}

#new-task-priority {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
}
.clicked {
  rotate: -90deg;
}
.active-task-bar {
  border: 0.25rem inset var(--bluish-4);
}

#new-task-item-title {
  width: 100%;
  text-align: center;
}
#priority-list {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.priority-item {
  width: 1.5rem;
  height: 1.5rem;
}
#low {
  background-image: url("../assets/images/Polygon\ 2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
#medium {
  background-image: url("../assets/images/Polygon\ 3.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
#high {
  background-image: url("../assets/images/Polygon\ 4.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

#new-task-description textarea {
  width: 100%;
  height: 100%;
  border: none;
  color: var(--bluish-3);
}
#add-task-button {
  position: relative;
  right: 0.22rem;
  bottom: 0.2rem;
}
#submit-task-button {
  position: absolute;
  right: 0.22rem;
  bottom: 0.2rem;
}

/* ---------------TASKS------------- */
.task-bar-item {
  /* background-color: #ff0100; */
  max-height: 6rem;
  display: flex;
}
.task-item {
  /* background-color: darkkhaki; */
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-bar-container {
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.task-bar-bckg.high {
  width: 100%;
  height: 100%;
  background-color: var(--reddish);
}
.task-bar-bckg.medium {
  width: 100%;
  height: 100%;
  background-color: var(--brightest);
}
.task-bar-bckg {
  width: 100%;
  height: 100%;
  background-color: none;
}
.task-bar {
  background-image: url("../assets/images/the_task_bar.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.task-bar-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.task-bar-time {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-stamp {
  font-family: "Tomorrow-Regular", "Courier New", sans-serif;
  font-size: 1.1rem;
  color: var(--brightest);
  background: none;
  border: none;
}
.task-bar-name {
  font-family: "Tomorrow-Regular", "Courier New", sans-serif;
  font-size: 1.2rem;
  width: 17rem;
  overflow-x: scroll;
  color: var(--brightest);
}
.task-item-control {
  /* background-color: grey; */
  width: 25%;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.task-item-control li {
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
}
.description-btn {
  background-image: url("../assets/images/show\ more\ button.webp");
}
.edit {
  background-image: url("../assets/images/edit\ button.webp");
}
.delete-button {
  background-image: url("../assets/images/delete.webp");
  background-size: 1.6rem 1.6rem;
}
.done {
  background-image: url("../assets/images/done\ button.webp");
}
/*task bar description*/
.description-box {
  visibility: hidden;
  background-color: var(--brightest);
  /* position: absolute; */
  width: 100%;

  height: 0rem;
  transform: translateY(0);
}
.description-box.visible {
  visibility: visible;
  background-color: var(--brightest);
  /* position: absolute; */
  width: 100%;
  min-height: 3.5rem;
  overflow-y: scroll;
  transform: translateY(0);
  border: 0.25rem solid var(--bluish-5);
  border-top: none;
}
